doctype html
head
    title FlipAnim | Home
    link(rel='stylesheet', href='/public/error/error.css')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Indie+Flower&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap', rel='stylesheet')
body.error
    div#spotlight
    div#snowContainer
    div#glass
        div#score
        h1 404
        h2 Page not found
        b Public Beta 1 has ended 
        br
        p Because:
        ul 
            li This was never intended to last more than a day. 
            li The unprecedented advertising of this site (not expected).
            li Alt spam. Too many alts. This was not aganist the TOS at the time (there was none!) but it is now.
            li And finally, extensive load on Heroku's servers, which after all are only on the free tier
        p In the first Public Beta alone, 423 accounts were created.
        h2 What's next?
        p Remember that there will be another Public Beta, in a month or maybe even a few weeks =)
        p Join the Discord for more announcements and updates: <a href="https://discord.gg/g9Xd5RehAx">https://discord.gg/g9Xd5RehAx</a>
        small: a(onclick="window.location.href = 'https://pineapplerind.ga'" href="https://pineapplerind.ga") - Pineapple-Rind
    script.
        window.onload = function() {
            window.score = 0, started = false;
            window.onmousemove = function(e) {
                var x = e.clientX;
                var y = e.clientY;
                let h = 50
                let s = document.getElementById('spotlight');
                s.style.top = y - (h/2) + 'px';
                s.style.left = x - (h/2) + 'px';
            }
            function snowfall() {
                function snowHehe() {
                    var t = document.getElementById('snowContainer'),
                        flakes = [],
                        e = 0;

                    function init() {
                        if (!(flakes.length > 5)) {
                            var snow = document.createElement("div");
                            snow.innerHTML = "â…", snow.position = {
                                x: (window.innerWidth - 100) * Math.random() + 50,
                                y: 50 * Math.random()
                            }, snow.velocity = {
                                x: 10 * Math.random() + 5,
                                y: 4 * Math.random() + 2
                            }, snow.changer = 10 * Math.random(); 
                            snow.startX = snow.position.x
                            snow.classList.add('snow')
                            snow.style.position = "absolute"
                            snow.style.userSelect = "none"
                            snow.style.color = "white"
                            snow.position.x = snow.startX + 10 * Math.sin(e / snow.velocity.x) 
                            snow.style.left = snow.position.x + "px" 
                            snow.style.top = snow.position.y + "px"
                            snow.onmouseover = function() {
                                Object.assign(this, slct(this, snow))
                            }
                            snow.touchstart = function() {
                                Object.assign(this, slct(this, snow))
                            }
                            t.insertBefore(snow, t.childNodes[0]) 
                            flakes.push(snow)
                        }
                    }
                    function slct(y,snow) {
                        if (window.score === null) return
                        started = true
                        window.score++
                        document.getElementById('score').innerHTML = window.score
                        snow.style.pointerEvents = "none"
                        y.velocity.x = -3 - (Math.random()*3)
                        y.velocity.y = -3 - (Math.random()*5)
                        snow.style.transform = "scale(1.5)"
                        snow.style.opacity = "0.5"
                        setTimeout(function() {
                            snow.style.transform = "scale(1)"
                        }, 100)
                        return y
                    }
                    let scrollheight = Math.max(
                        document.body.scrollHeight, document.documentElement.scrollHeight,
                        document.body.offsetHeight, document.documentElement.offsetHeight,
                        document.body.clientHeight, document.documentElement.clientHeight
                    );

                    function update(snow, n) {
                        snow.position.x = snow.startX + 10 * Math.sin(e / snow.velocity.x) 
                        snow.position.y += snow.velocity.y
                        snow.style.left = snow.position.x + "px" 
                        snow.style.left = snow.position.x + "px", 
                        snow.style.top = snow.position.y + "px"; 
                        if (snow.position.y >= (scrollheight-40) || snow.position.y <= 0) {
                           flakes.splice(n, 1)
                            snow.style.transition = '0.5s'
                            snow.style.opacity = '0'
                            setTimeout(function(){
                                snow.remove()
                            }, 500)
                        }
                        if (snow.position.y >= (scrollheight-40)) {
                            if (!started) return
                            flakes = []
                            document.getElementById('score').style.color = 'green'
                            document.getElementById('score').innerHTML = 'Score: ' + window.score
                            document.getElementById('snowContainer').innerHTML = ''
                            window.clearInterval(window.snowCreateHandler)
                            window.score = null
                        }
                    }
                    for (var s = 0; s < 3; s++)  {
                        setTimeout(function(){
                            init();
                        }, s * 300)
                    }
                    window.snowCreateHandler = setInterval(function(){
                        init(); 
                    }, (Math.random() * 500) + 200); 

                    setTimeout(function updateHandler() {
                        e++
                        flakes.forEach(update) 
                        setTimeout(updateHandler, 33)
                    }, 33)
                }
                try {
                    snowHehe()
                } catch (t) {
                    console.error("No snow for you :< "+t)
                }
            }
            snowfall()
        }