doctype html
include ../../components/head
include ../../../components/nav
main
    .main.create
        h1 Error 
        p You are already logged in as 
        b @#{loggedIn.name.text}
include ../../../components/foot
script(src='../../index.js')
