footer.flex 
        link(rel='stylesheet', href='/public/css/footer.chunk.css')
        div 
            p(style="opacity:0.6") Legals
            a(href="/info/privacy") Privacy 
            a(href="/info/terms") Terms 
        div 
            p(style="opacity:0.6") Credits
            a(href="https://flipanim.com") Original Site
            a(href="/info/team") FAV2 Team
            a(hfef="https://www.youtube.com/@FA.V2") FAV2 YouTube
        div 
            p(style="opacity:0.6") Contact 
            a(href="https://discord.gg/jF69TvPthh") Feedback 
            a(href="https://discord.gg/jF69TvPthh") Support