
html
  include ../components/head
body
  include ../components/nav
  main
    if loggedIn
      div.profile-options
        p(disabled='', style='pointer-events:none;padding-bottom:3px;opacity:0.5;margin:5px;border-bottom: 1px solid rgba(255,255,255),0.5')
          | Logged in as @#{loggedIn.name.text}
          #profileLink.profile-option Profile
          .profile-option Settings
          #logOut.profile-option Log out
    div.main
      //- +anim("https://storage.gra.cloud.ovh.net/v1/AUTH_728ab22ba0c842468a897907be9a7075/flipanim/anim/ngti52x9.gif",
      //-   "j", "by Pineapple-Rind")
  include ../components/foot
  script(src="index.js")