html
  head
    title= title
    link(rel="stylesheet" href="./css/stylesheet.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet")
body
  nav
    div.flex
      img(src="https://flipanim.com/gfx/logo_fb.png" height="25px" style="vertical-align: bottom;margin-right:5px;" alt="FlipAnim")
      a.linktitle Browse
      a.linktitle Search
      a.linktitle Followed
    if loggedIn
      div.profile
        img(onclick="document.querySelector('.profile-options').classList.toggle('open')" src="imgs/profile.png")
    else 
      .login-buttons 
        button(onclick="window.location.href='/account/login'") Log in 
        button(onclick="window.location.href='/account/create'") Create account
  main
    if loggedIn
      div.profile-options
        p(disabled style="pointer-events:none;padding-bottom:3px;opacity:0.5;margin:5px;border-bottom: 1px solid rgba(255,255,255),0.5") Logged in as 
        span @FlipAnim
        div.profile-option#profileLink Profile
        div.profile-option#profileLink Settings
        div.profile-option#profileLink Logout
    div.main
      div.anim
        img(src="https://storage.gra.cloud.ovh.net/v1/AUTH_728ab22ba0c842468a897907be9a7075/flipanim/anim/ngti52x9.gif")
        div.anim-text
          h1 j
          h2 by Pineapple-Rind
      div.anim
        img(src="https://storage.gra.cloud.ovh.net/v1/AUTH_728ab22ba0c842468a897907be9a7075/flipanim/anim/ngti52x9.gif")
        div.anim-text
          h1 j
          h2 by Pineapple-Rind
      div.anim
        img(src="https://storage.gra.cloud.ovh.net/v1/AUTH_728ab22ba0c842468a897907be9a7075/flipanim/anim/ngti52x9.gif")
        div.anim-text
          h1 j
          h2 by Pineapple-Rind
  script(src="index.js")