@import 'https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,700,800,900&display=swap';

* {
    box-sizing: border-box !important;
    margin: 0;
    transition: 0.2s;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    /* Globals */
    --body-background: #0f182d;
    --body-background-lighter: #152038;
    --body-background-lightest: #202c46;
    /* Text */
    --body-text: #eee;
    --body-text-alternate: #eee;
    /* Usually inverse of --body-text */

    /* Elements "floating" above the main page, such as navbar and anims */
    --card-background: #324874d0;
    --card-background-intense: #455e90d0;
    --card-background-selected: #545bc267;
    --card-background-selected-intense: rgba(123, 132, 255, 0.493);
    --card-blur: blur(17px);
    /* Dark Cards */
    --dcard-background: #1c1f3777;
    --dcard-background-intense: #0f1821b4;
    /* Nav Background */
    --nav-background: var(--dcard-background-intense);
    --nav-shadow: unset;
    --nav-position: static;
    --nav-blur: blur(30px);
    /* Borders */
    --border: 1px solid rgba(255, 255, 255, 0.2);
    --border-hover: 1px solid rgba(255, 255, 255, 0.9);
    /* Footer */
    --footer-background: var(--body-background-lighter);
    --footer-margin: 40px;
    --footer-padding: 20px;
    --footer-shadow: 0 -5px 10px rgba(0, 0, 0, 0.4);
    /* Tooltips */
    --tooltip-background: var(--card-background);
    /* Popups */
    --popup-background: var(--card-background);
    --popup-text-color: var(--body-text);
    /* Buttons */
    --button-background: var(--card-background);
    --button-background-hover: var(--card-background-intense);
    --button-padding: 10px 17px;
    --button-radius: 10px;
}

/* Classic Mode */
:root.classic {
    --body-background: #2cce6f;
    --body-background-lighter: #219e55;
    --body-background-lightest: #168042;
    --body-text: rgb(37, 37, 37);
    --body-text-alternate: rgb(240, 240, 240);
    /* Nav Background */
    --nav-background: rgb(60, 113, 187);
    --nav-shadow: inset -2px -5px 10px rgba(0, 0, 0, 0.7);
    --nav-position: absolute;
}

:root.light {
    --body-background: #f6f6f6;
    --body-background-lighter: #dfdfdf;
    --body-background-lightest: #cacaca;
    --body-text: rgb(37, 37, 37);
    --body-text-alternate: rgb(240, 240, 240);
    /* Elements "floating" above the main page, such as navbar and anims */
    --card-background: #00000028;
    --card-background-intense: #00000048;
    --card-background-selected: #7b84ff28;
    --card-background-selected-intense: #7b84ff48;
    --card-blur: blur(17px);
    /* Dark Cards */
    --dcard-background: #ffffff28;
    --dcard-background-intense: #ffffff48;
    --tooltip-background: var(--card-background);
}

@supports (backdrop-filter: blur(10px)) {
    :root {
        /* Elements "floating" above the main page, such as navbar and anims */
        --card-background: #ffffff28;
        --card-background-intense: #ffffff48;
        --card-background-selected: #7b84ff28;
        --card-background-selected-intense: #7b84ff48;
        --card-blur: blur(17px);
        /* Dark Cards */
        --dcard-background: #00000028;
        --dcard-background-intense: #00000048;
    }

    :root.light {
        /* Elements "floating" above the main page, such as navbar and anims */
        --card-background: #ffffff28;
        --card-background-intense: #ffffff48;
        --card-background-selected: #7b84ff28;
        --card-background-selected-intense: #7b84ff48;
        --card-blur: blur(17px);
        /* Dark Cards */
        --dcard-background: #00000028;
        --dcard-background-intense: #00000048;
    }
}

:root {
    background-color: var(--body-background);
    color: var(--body-text);
    margin: 0;
    /*background-image: url('https://flipanim.com/gfx/noise.png');*/
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}

.flex {
    display: flex;
}

nav {
    background: var(--nav-background);
    backdrop-filter: var(--nav-blur);
    -webkit-backdrop-filter: var(--nav-blur);
    box-shadow: var(--nav-shadow);
    padding: 10px;
    width: 100vw;
    margin: 0;
    margin-bottom: 60px;
    z-index: 2;
    position: var(--nav-position);
    top: 0;
    left: 0;
    padding-left: 20px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1,
nav .linktitle,
.profile-options .profile-option {
    margin: 0 10px 0px 0px;
    display: block;
    text-decoration: none;
    max-height: min-content;
    padding: 10px 20px;
    font-family: -apple-system, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    transition: 0.1s;
    border-radius: 10px;
}

nav .linktitle {
    vertical-align: bottom;
    margin-right: 5px;
}

.nav-logo {
    image-rendering: -webkit-optimize-contrast;
    vertical-align: bottom;
    margin-right: 5px;
    transform: translateZ(0);
}

nav h1:hover,
nav .linktitle:hover {
    background: var(--card-background);
}

.profile {
    position: static;
    z-index: 2;
    margin-right: 20px;
}

.profile img {
    height: 57px;
    border-radius: 50%;
    border: 1px solid rgba(164, 171, 255, 0.4);
}

.profile img:hover {
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.278);
}

.profile-options {
    position: fixed;
    top: 70px;
    left: calc(100% - 160px);
    z-index: 2;
    padding: 10px;
    border: var(--border);
    backdrop-filter: var(--card-blur);
    -webkit-backdrop-filter: var(--card-blur);
    height: fit-content;
    transform: translateY(5px);
    border-radius: 20px;
    pointer-events: none;
    opacity: 0;
    transition: 0.2s;
    background: var(--dcard-background-intense);
}

.logged-in-as {
    pointer-events: none;
    padding-bottom: 3px;
    opacity: 0.5;
    margin: 5px;
    border-bottom: 1px solid rgba(255, 255, 255), 0.5;
}

.profile-options .profile-option:hover {
    background: var(--card-background);
}

.profile-options.open {
    transform: translateY(0px);
    opacity: 1;
    pointer-events: all;
}

button {
    padding: var(--button-padding);
    border-radius: var(--button-radius);
    background: var(--button-background);
    border: 0;
    color: var(--body-text);
}

button:hover {
    background: var(--button-background-hover);
}