* {
  box-sizing: border-box;
  margin: 0;
  font-family: Quicksand, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
  /* Globals */
  --body-background: #111133;
  --body-background-lighter: #2a2a55;
  --body-background-lightest: #484e64;
  --body-text: #eee;
  /* Elements "floating" above the main page, such as navbar and anims */
  --card-background: #484e64d0;
  --card-background-intense: #5d6379ce;
  --card-background-selected: #545bc267;
  --card-background-selected-intense: rgba(123, 132, 255, 0.493);
  --card-blur: blur(17px);
  /* Dark Cards */
  --dcard-background: #1c1f3777;
  --dcard-background-intense: #1d2144b4;
  /* Nav Background */
  --nav-background: var(--dcard-background-intense);
  --nav-shadow: -0px -5px 30px rgba(0, 0, 0, 0.6);
  --nav-position: fixed;
  --nav-blur: blur(30px);
  /* Borders */
  --border: 1px solid rgba(255, 255, 255, 0.2);
  --border-hover: 1px solid rgba(255, 255, 255, 0.9);
  /* Footer */
  --footer-background: var(--body-background-lighter);
  --footer-margin: 40px;
  --footer-padding: 20px;
  --footer-shadow: 0 -5px 10px rgba(0, 0, 0, 0.4);
  /* Tooltips */
  --tooltip-background: var(--card-background);
  /* Popups */
  --popup-background: var(--card-background);
  --popup-text-color: var(--body-text)
}

/* Classic Mode */
body.classic {
  --body-background: #2cce6f;
  --body-background-lighter: #219e55;
  --body-background-lightest: #168042;
  --body-text: rgb(37, 37, 37);
  /* Nav Background */
  --nav-background: rgb(60, 113, 187);
  --nav-shadow: inset -2px -5px 10px rgba(0, 0, 0, 0.7);
  --nav-position: absolute;
}

body.light {
  --body-background: #f6f6f6;
  --body-background-lighter: #dfdfdf;
  --body-background-lightest: #cacaca;
  --body-text: rgb(37, 37, 37);
  /* Elements "floating" above the main page, such as navbar and anims */
  --card-background: #00000028;
  --card-background-intense: #00000048;
  --card-background-selected: #7b84ff28;
  --card-background-selected-intense: #7b84ff48;
  --card-blur: blur(17px);
  /* Dark Cards */
  --dcard-background: #ffffff28;
  --dcard-background-intense: #ffffff48;
  --tooltip-background: var(--card-background);
}

@supports (backdrop-filter: blur(10px)) {
  body {
    /* Elements "floating" above the main page, such as navbar and anims */
    --card-background: #ffffff28;
    --card-background-intense: #ffffff48;
    --card-background-selected: #7b84ff28;
    --card-background-selected-intense: #7b84ff48;
    --card-blur: blur(17px);
    /* Dark Cards */
    --dcard-background: #00000028;
    --dcard-background-intense: #00000048;
  }
  body.light {
    /* Elements "floating" above the main page, such as navbar and anims */
    --card-background: #ffffff28;
    --card-background-intense: #ffffff48;
    --card-background-selected: #7b84ff28;
    --card-background-selected-intense: #7b84ff48;
    --card-blur: blur(17px);
    /* Dark Cards */
    --dcard-background: #00000028;
    --dcard-background-intense: #00000048;
  }
}

body {
  background-color: var(--body-background);
  color: var(--body-text);
  margin: 0;
  background-image: url('https://flipanim.com/gfx/noise.png');
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}

h1,
.linktitle,
h1 span {
  font-family: Indie Flower
}

a

/* Links */
  {
  color: var(--body-text);
  font-weight: 300;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed !important;
}

nav {
  background: var(--nav-background);
  backdrop-filter: var(--nav-blur);
  -webkit-backdrop-filter: var(--nav-blur);
  box-shadow: var(--nav-shadow);
  padding: 10px;
  width: 100vw;
  margin: 0;
  z-index: 2;
  position: var(--nav-position);
  top: 0;
  left: 0;
  padding-left: 20px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h1,
nav .linktitle {
  margin: 0 10px 0px 0px;
  display: block;
  text-decoration: none;
  max-height: min-content;
  padding: 10px 20px;
  font-family: -apple-system, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
  transition: 0.1s;
  border-radius: 10px;
}

.nav-logo {
  image-rendering: -webkit-optimize-contrast;
  vertical-align: bottom;
  margin-right: 5px;
  transform: translateZ(0);
}

nav .linktitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav h1:hover,
nav .linktitle:hover {
  background: var(--card-background);
}

main {
  margin-top: 100px;
  width: 100%;
  max-height: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: var(--footer-margin)
}

.profile {
  position: static;
  z-index: 2;
  margin-right: 20px;
}

.profile img {
  height: 57px;
  border-radius: 50%;
  border: 1px solid rgba(164, 171, 255, 0.4);
}

.profile img:hover {
  cursor: pointer;
  transform: translateY(-1px);
  box-shadow: 0 0px 10px rgba(255, 255, 255, 0.278);
}

.profile-options {
  position: fixed;
  top: 70px;
  left: calc(100% - 160px);
  z-index: 2;
  padding: 10px;
  border: var(--border);
  backdrop-filter: var(--card-blur);
  -webkit-backdrop-filter: var(--card-blur);
  height: fit-content;
  transform: translateY(10px);
  border-radius: 20px;
  pointer-events: none;
  opacity: 0;
  transition: 0.3s;
  background: var(--card-background);
}

.logged-in-as {
  pointer-events: none;
  padding-bottom: 3px;
  opacity: 0.5;
  margin: 5px;
  border-bottom: 1px solid rgba(255, 255, 255), 0.5
}

.profile-options .profile-option {
  margin: 3px 0px;
  cursor: pointer;
  border-radius: 30px;
  transition: 0.2s;
  padding: 8px 40px 8px 25px;
}

.profile-options .profile-option:hover {
  background: var(--card-background);
}

.profile-options.open {
  transform: translateY(0px);
  opacity: 1;
  pointer-events: all;

}
.profile-bio {
  max-width: 400px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.main.create {
  flex-direction: column;
  width: fit-content;
  align-items: center;
  justify-content: center;
}

.anim h2 {
  font-size: 17px;
  font-weight: 400;
}

.anim img {
  height: 100%;
  width: 100%;
}

.anim-text {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: 0.2s;
  border-top: 1px solid rgba(255, 255, 255, 0);
}

.anim {
  width: 300px;
  height: 300px;
  background: var(--card-background);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  margin: 20px;
  transition: 0.2s;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.anim:hover {
  border: 1px solid rgba(255, 255, 255, 0.9);
  background: #ffffff35;
}

.anim:hover .anim-text {
  border-top: 1px solid rgba(255, 255, 255, 0.9);
  background: rgba(0, 0, 0, 0.9);
}

.anim-text h1 {
  font-size: 25px
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  pointer-events: none;
  transition: 0.4s;
  backdrop-filter: var(--card-blur) opacity(0);
  -webkit-backdrop-filter: var(--card-blur) opacity(0);
}

.modal-container.overlay {
  opacity: 1;
  backdrop-filter: var(--card-blur) opacity(1);
  -webkit-backdrop-filter: var(--card-blur) opacity(1);
  pointer-events: all;
}

.modal {
  border: var(--border);
  background: var(--dcard-background);
  padding: 20px;
  animation: modal 0.4s;
  border-radius: 20px;
  transform: scale(0.9);
  transition: 0.4s;
}

.modal.showing {
  transform: scale(1);
}

@keyframes modal {
  from {
    transform: scale(0.9)
  }
}

.modal-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  margin: 4px 0;
  padding: 10px 20px;
  background: var(--card-background);
  color: white;
  min-width: 90px;
  margin-right: 10px;
  border: 0;
  transition: 0.2s;
  border-radius: 10px;
  cursor: pointer;
}

.modal-buttons button {
  width: 48%;
  margin: 0;
}

button.dangerous {
  background: rgba(255, 0, 0, 0.448);
}

button:hover {
  background: var(--card-background-intense)
}

button.dangerous:hover {
  background: rgba(255, 0, 0, 0.648);
}

button.proceed {
  background: rgba(0, 255, 0, 0.448)
}

button.proceed:hover {
  background: rgba(0, 255, 0, 0.648)
}

button[disabled], input[type=submit].submitting {
  opacity: 0.5;
  cursor: not-allowed;
}
input[type=submit].submitting {
  pointer-events: none;
}
/*********************
Profile
**********************/
.profile-basic-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-image {
  border-radius: 20px;
  background-size: cover;
  width: clamp(200px, 50vw, 400px);
  height: clamp(200px, 50vw, 400px);
}

.profile-name {
  position: relative;
  text-align: center;
  margin-top: 10px;
  width: fit-content;
  display: flex;
  font-size: 27px;
}

.profile-name span {
  opacity: 0.7;
  margin-left: 5px;
  display: inline-block;
}

.profile-name .admin {
  vertical-align: text-bottom;
  left: calc(100% + 10px);
  height: 45px;
  margin-top: 5px;
  margin-left: 5px;
  width: 75px;
  background: url('/public/img/admin.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.profile-creation {
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.profile-follow {
  padding: 7px 15px;
  border-radius: 10px;
  margin: 5px;
  background: var(--card-background)
}

.profile-status-info {
  margin-left: 40px;
}

.text-box {
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
  background: var(--card-background);
}

.profile-status-type {
  font-weight: 700;
}

.Online {
  color: lime
}

.Invisible {
  color: #ffffffaa
}

.DoNotDisturb {
  color: red
}

.Idle {
  color: orange
}

.profile-status-header {
  display: flex;
}

.profile-status-info .edit {
  height: 27px;
  cursor: pointer;
  transition: 0.2s;
  transform-origin: bottom left;
  vertical-align: text-bottom;
  width: 27px;
  background-image: url('/public/imgs/edit.png');
  background-size: cover;
}
body.light .profile-status-info .edit {
  filter: invert(2)
}

hr {
  width: 70%;
  opacity: 0.3;
  margin: 20px;
}

/*******************
Skeleton
********************/
.skeleton {
  position: relative;
}

.skeleton::before {
  content: '';
  background: linear-gradient(to right, var(--body-background-lighter), var(--body-background-lighter), var(--body-background-lightest), var(--body-background-lighter), var(--body-background-lighter));
  background-size: 500%;
  top: 0;
  left: 0;
  border-radius: 4px;
  z-index: 1;
  right: 0;
  bottom: 0;
  position: absolute;
  animation: skeleton 1s linear infinite;
}

@keyframes skeleton {
  100% {
    background-position: 100%
  }
}

/*******************8
Create Account
**********************/

.main.create {
  padding: 20px;
  border-radius: 20px;
  background: var(--body-background-lighter);
}

.main.create h1 {
  color: white
}

input,textarea {
  background: var(--card-background);
  padding: 10px 20px;
  border: 0;
  width: 100%;
  border-radius: 10px;
  display: block;
  margin: 10px 0;
  transition: 0.4s;
  color: white
}
textarea {
  max-width: clamp(150px, 50vw, 400px);
  transition: none;
}

.main.create ::-webkit-input-placeholder {
  color: white;
  opacity: 0.5;
}

body.classic input {
  background: var(--dcard-background)
}

input:focus {
  background-color: var(--card-background-intense);
  transform: scale(1.01);
}

input[type=submit] {
  color: white;
  background: rgba(0, 255, 0, 0.448);
  cursor: pointer;
}

input[type=submit]:hover {
  background: rgba(0, 255, 0, 0.648);
}

/*****************
Character Limits
******************/
[left='1'], [left='0'] {
  color: red;
  font-weight: 700;
}
[left='3'], [left='2'] {
  color: rgb(255, 166, 0);
  font-weight: 700;
}
[left='5'],[left='4'] {
  color: rgb(208, 255, 0);
  font-weight: 700;
}
.char-count {
  font-size: 14px;
}
/*****************
Anim Page
*****************/
.main.anim-main {
  flex-direction: column;
}

.anim-image {
  width: clamp(300px, 50vw, 500px);
  height: clamp(300px, 50vw, 500px)
}

.main.anim-main hr {
  width: 50vw;
  max-width: 500px
}

/**********************
Comments
**********************/
.anim-comment-container {
  width: 100%;
}

.anim-comment {
  padding: 10px;
  border-radius: 10px;
  background: var(--card-background);
  display: flex;
  width: calc(100% - 40px);
  margin: 20px;
}

.anim-comment img {
  height: 60px;
  border-radius: 10px;
}

.anim-comment .flex {
  align-items: unset;
  margin-left: 10px;
}

.anim-comment .anim-comment-header {
  font-weight: bold;
  margin-bottom: 5px;
}

/*****************
Editor
******************/
.editor aside {
  margin: 10px;
  height: 100%;

  border-radius: 20px;
  background: var(--card-background);
}

.editor-active canvas {
  width: clamp(300px, 50vw, 600px);
  height: clamp(300px, 50vw, 600px);
  background: white;
}

.editor-active {
  background: var(--card-background)
}

.tool-wrap {
  background: var(--card-background);
  padding: 7px;
  margin: 2px;
  border-radius: 15px;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 255, 0);

}

.tool-wrap:hover {
  background: var(--card-background-intense);
}

.tool-wrap.selected {
  border: 2px solid blue;
  background: var(--card-background-selected)
}

aside div.flex {
  border-bottom: var(--border);
  padding: 6px;
  max-width: 130px;
}

aside div.flex:last-child {
  border: 0
}

/*******************
Settings
*******************/
.theme-setting, .theme-setting:focus {
  margin: 5px;
  padding: 20px 0px;
  -webkit-appearance: none;
  display: block;
  position: relative;
  cursor: pointer;
  color: white;
  border-radius: 10px;
}
.theme-setting.dark,
.theme-setting.dark:focus {
  background: #111133;
}
.theme-setting.classic,
.theme-setting.classic:focus {
  background: #2cce6f
}
.theme-setting.light,
.theme-setting.light:focus {
  background: #f6f6f6;
}

.theme-setting:focus {
  background: inherit;
}

.theme-setting::after {
  content: '\2713';
  position: absolute;
  top: 0;
  transition: 0.2s;
  left: 0;
  opacity: 0;
  bottom: 0;
  font-size: 40px;
  font-weight: 500;
  font-family: Roboto, Quicksand, Inter, Arial, Helvetica, sans-serif;
  right: 0;
  text-shadow: 0 0 10px black, 0 0 4px black;
  background: 0;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.theme-setting:checked::after {
  opacity: 1;
}

/*****************
Footer
*****************/

footer {
  width: 100vw;
  height: 100px;
  margin-top: auto;
  justify-content: space-evenly !important;
  align-items: unset !important;
  padding: var(--footer-padding);
  background: var(--body-background-lighter);
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.4);
}

footer>div {
  display: flex;
  flex-direction: column;
}

footer a {
  color: var(--body-text);
  font-weight: 300;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/******************
Tooltips
*******************/
[data-tooltip] {
  position: relative;
  cursor: pointer;
}

[data-tooltip]:after {
  line-height: 1;
  font-size: .9em;
  opacity: 0;
  transition: 0.2s;
  transform: translateY(10px);
  pointer-events: none;
  position: absolute;
  content: attr(data-tooltip);
  text-align: center;
  max-width: 21em;
  width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 8px 11px;
  border-radius: 6px;
  background: var(--tooltip-background);
  color: #FFFFFF;
  z-index: 2;
  font-size: 15px;
}

[data-tooltip]:hover:after {
  pointer-events: all;
  opacity: 1;
  transform: translateY(0);
}

[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::after {
  bottom: calc(100% + 5px);
}

[tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, -4px);
  transform: translate(-50%, -4px);
}

[data-tooltip=""]::after {
  opacity: 0;
  pointer-events: none
}

/********************
Team Page
********************/
#teamMembers {
  display: flex;
  align-items: center;
  width: 90vw;
  flex-wrap: wrap;
  justify-content: center;
}

.team-card {
  background: var(--card-background);
  padding: 20px;
  display: flex;
  width: clamp(370px, 40vw, 500px);
  margin: 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: 200ms;
}

.team-card:hover {
  background: var(--card-background-intense);
  transform: translatey(-2px);
}

.team-card img {
  border-radius: 20px;
  height: clamp(5vw, 140px, 20vw);
}

.team-card>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin-left: 10px;
}

.team-card h2 span {
  opacity: 0.6;
}

/*******************
Toasts / Popups / Snackbars
********************/

.toast-container {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 5;
}

.toast {
  padding: 17px 33px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  background: var(--popup-background);
  color: var(--popup-text-color);
  backdrop-filter: blur(10px) opacity(0);
  -webkit-backdrop-filter: blur(10px) opacity(0);
  transform: translateX(calc(100% + 20px));
  transition: 1s;
  animation: toast 1s;
  opacity: 0;
}

@keyframes toast {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 20px));
  }
}

.toast p {
  font-size: 15px;
  opacity: 0.7;
}

.toast b {
  font-size: 25px;
  font-weight: 500;
}

.toast.showing {
  opacity: 1;
  backdrop-filter: blur(10px) opacity(1);
  -webkit-backdrop-filter: blur(10px) opacity(1);
  transform: translateX(0%)
}
/***********************
Horizontal select menus
***********************/
.select-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;

  padding: 3px;
  border-radius: 15px;
  background: var(--body-background-lighter);
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.4);
}

.select-horizontal option {
  padding: 10px 20px;
  transition: 0.2s;
  margin:3px;
  border-radius:10px;
}

.select-horizontal option:hover,
.select-horizontal option.selected {
  background: var(--card-background);
}
