extends ../../../components/base
block content
    .main.create
        h1 Log In
        br
        form.create#login(onsubmit="return false")
            input#username(type='text', name='username', placeholder='Username...')
            input#password(type='password', name='password', placeholder='Password...')
            .captcha(data-sitekey='aa5d6fa4-a22e-4f29-812f-09d146df8c43')
            script(src='https://js.hcaptcha.com/1/api.js')
            script(async defer).
                window.curCaptcha = hcaptcha.render(document.querySelector('.captcha'), {
                    theme: 'dark',
                    callback: 'hcaptchaCallback'
                })
            br
            input(type='submit', value='Submit')
block scripts
    
    script(src='/public/utils/modal.js')
    script(src='/public/utils/toast.js')
    script(src='/public/index.js')
    script(src='/public/account/login/index.js')