extends ../../components/base.pug
block nav
   
block content 
    div(style='display:flex;')
        link(rel="stylesheet" href="/public/css/terms.chunk.css")
        div.aside
            small(style="display: block;margin-bottom:5px")
                a(href="/") &larr; Back
            div.sidebar-item Agreement
            div.sidebar-item Property rights
            div.sidebar-item User representations
            div.sidebar-item User contributions
            div.sidebar-item Submissions
            div.sidebar-item Modifications
            div.sidebar-item Disclaimer
            div.indicator
        div.terms(style='max-width:800px;margin-bottom:100px;')
            .flex 
                 a(onclick="window.location.href = '/'"): img.linktitle(src="/public/imgs/flipanimv2.png" height="30px" style="margin-top:5px;margin-right:5px;display:block" alt="FlipAnim")
                 h1 Terms of Service
            h2#agreement.terms-section Agreement
            p.
                These terms of service designate an agreement between you and the admins, concerning your access to and use of the New FlipAnim website. You agree that by accessing the site, you have read, understood, and agreed to be bound by all of these Terms of Use. By not agreeing to the terms of use you are prohibited from using the site and must discontinue immediately. By agreeing to these terms you warrant that you are 13 years of age or older, or have permission of a parent or guardian to access the site.

                The information provided on the site is not intended for distribution to or use by any person or entity in any jurisdiction where such distribution or use would be illegal or which would subject us to any registration requirement within such jurisdiction or country. Accordingly, those persons who choose to access the site from foreign locations are solely responsible for compliance with local laws.

                We reserve the right to modify these Terms of Service if deemed necessary. You will be informed about any changes through updating the last changed date of these Terms of Service. Please ensure that you check the applicable terms occasionally so that you understand which terms apply. You will be subject to having been made aware of and to have accepted the changes in any revised Terms of Service by your continued use of the site after the date such revised Terms of Service are posted.
            h2#propertyrights.terms-section Property Rights
            p. 
                Unless otherwise indicated, the site is our property and all content and the trademarks, service marks, and logos contained therein are owned or controlled by us or licensed to us, and may not be copied, reproduced, aggregated, republished, uploaded, posted, publicly displayed, encoded, translated, transmitted, distributed, sold, licensed, or otherwise exploited for any commercial purpose whatsoever, without our express prior written permission. The content and the marks are provided on the site "AS IS" for your information and personal use only. 

                By using the site, you are granted a limited license to access and use the site and to download or print a copy of any portion of the content to which you have properly gained access solely for your personal, non-commercial use. We reserve all rights not expressly granted to you in and to the site, the content and the marks.
            h2#userrepresentations.terms-section User Representations
            p. 
                You have the option to register an account within the site. You agree to keep your password confidential and will be responsible for all use of your account and password. We reserve the right to remove, reclaim, or change a username you select if we determine that such username is inappropriate, obscene, or otherwise objectionable.
                By using the site, you represent and warrant that: (1) you will not access the site through automated or non-human means, whether through a bot, script, or otherwise; (2) you will not use the site for any illegal or unauthorized purpose; and (3) your use of the site will not violate any applicable law or regulation. 
                As a user of the site, you agree not to:

            ul
                li Systematically retrieve data or other content from the Site to create or compile, directly or indirectly, a collection, compilation, database, or directory without written permission from us.
                li Trick or mislead admins and other users in any attempt to learn sensitive account information such as user passwords.
                li Circumvent, disable, or otherwise interfere with security-related features of the site, including features that restrict the use or copying of any content or enforce limitations on the use of the site and/or the content contained therein.
                li Disparage, tarnish, or otherwise harm, in our opinion, us and/or the Site.
                li Use any information obtained from the Site in order to harass, abuse, or harm another person.
                li Use the site in a manner inconsistent with any applicable laws or regulations
                li Upload or transmit (or attempt to upload or to transmit) viruses. Trojan horses, or other material that interferes with any party's uninterrupted use and enjoyment of the Site or modifies, impairs, disrupts, alters, or interferes with the use features, functions, operation, or maintenance of the site 
                li Engage in any automated use of the system, such as using scripts to send comments or messages, or using any data mining, robots, or similar data gathering and extraction tools.
                li Attempt to impersonate another user or person
                li Harass, annoy, intimidate, or threaten any admins engaged in providing any portion of the site to you.
                li Attempt to bypass any measures of the site designed to prevent or restrict access to the site, or any portion of the site.
                li Copy or adapt the site's software or other code.
                li Except as permitted by applicable law, decipher, decompile, disassemble, or reverse engineer any of the software comprising or in any way making up a part of the site.
                li Make any unauthorized use of the site, including collecting usernames and/or email addresses of users by electronic or other means for the purpose of sending unsolicited email, or creating user accounts by automated means or under false pretenses.
                li Use the site to advertise or offer to sell goods and services.
            h2#usercontributions.terms-section User Contributions
            p.
                You will be allowed to make contributions to the site in the form of comments and anims. Contributions may be viewable by other users of the site. As such, any contributions you transmit may be treated as non-confidential and non-proprietary. When you make available any contributions, you thereby represent and warrant that:
                Your contributions are not false, inaccurate, or misleading.
                Your contributions are not unsolicited or unauthorized advertising, promotional materials, pyramid schemes, chain letters, spam, mass mailings, or other forms of solicitation.
                Your contributions do not ridicule, mock, disparage, intimidate, or abuse anyone.
                Your contributions are not obscene, lewd, lascivious, filthy, violent, harassing, libelous, slanderous, or otherwise objectionable without an 18+/NSFW marking.
                Your contributions are not used to harass or threaten any other person and to promote violence against a specific person or class of people.
                Your contributions do not violate any applicable law, regulation, or rule.
                Your contributions do not violate any applicable law concerning child pornography, or otherwise intended to protect the health or well-being of minors.
                Your contributions do not include any offensive or controversial comments that are connected to race, gender, or sexual preference.
                Your contributions do not otherwise violate, or link to material that violates, any provision of these Terms of Service, or any applicable law or regulation.

                Any use of the site in violation of the preceding violates these Terms of Service and may result in termination or suspension of your rights to use the site. 
            h2#submissions.terms-section Submissions
            p.
                You acknowledge and agree that any questions, comments, suggestions, ideas, feedback, or other information regarding the site ("submissions") provided by you to us are non-confidential and shall become our sole property. We shall own exclusive rights, including all intellectual property rights, and shall be entitled to the unrestricted use and dissemination of these submissions for any lawful purpose, commercial or otherwise, without acknowledgement or compensation to you. You hereby waive all moral rights to any such submissions, and you hereby warrant that any such submissions are original with you or that you have the right to submit such submissions. You agree there shall be no recourse against us for any alleged or actual infringement or misappropriation of any proprietary right in your submissions. 
            h2#modifications.terms-section Modifications
            p.
                We reserve the right to change, modify, or remove the contents of the site at any time or for any reason at our sole discretion without notice. However, we have no obligation to update any information on our site. We also reserve the right to modify or discontinue all or part of the site without notice at any time. We will not be liable to you or any third party for any modification, suspension, or discontinuance of the site. We cannot guarantee the site will be available at all times. We may experience hardware, software, or other problems or need to perform maintenance related to the site, resulting in interruptions, delays, or errors. We reserve the right to change, revise, update, suspend, discontinue, or otherwise modify the site at any time or for any reason without notice to you. You agree that we have no liability whatsoever for any loss, damage, or inconvenience caused by your inability to access or use the site during any downtime or discontinuance of the site. Nothing in these Terms of Service will be interpreted to obligate us to maintain and support the site or to supply any corrections, updates, or releases in connection therewith.

                There may be information on the site that contains typographical errors, inaccuracies, or omissions, including descriptions, availability, and various other information. We reserve the right to correct any errors, inaccuracies, or omissions and to change or update the information on the site at any time, without prior notice.
            h2#disclaimer.terms-section Disclaimer
            p.
                The site is provided on an as-is and as-available basis. You agree that your use of the site and our services will be at your sole risk. To the fullest extent permitted by law, we disclaim all warranties, express or implied, in connection with the site and your use thereof, including, without limitation, the implied warranties of merchantability, fitness for a particular purpose, and non-infringement. 

                We make no warranties or representations about the accuracy or completeness of the site's content or the content of any websites linked to the site and we will assume no liability or responsibility for any (1) errors, mistakes, or inaccuracies of content and materials, (2) personal injury or property damage, of any nature whatsoever, resulting from your access to and use of the site, (3) any interruption or cessation of transmission to or from the site, (4) any bugs, viruses, trojan horses, or the like which may be transmitted to or through the site by any third party, and/or (5) any errors or omissions in any content and materials or for any loss or damage of any kind incurred as a result of the use of any content posted, transmitted, or otherwise made available via the site. 

                We do not warrant, endorse, guarantee, or assume responsibility for any product or service advertised or offered by a third party through the site, any linked website, or any website or mobile application advertised, and we will not be a party to or in any way be responsible for monitoring any transaction between you and any third-party providers of products or services. As with the purchase of a product or service through any medium or in any environment, you should use your best judgment and exercise caution where appropriate.
            hr
            small(style="float: right") 
                span(style="opacity: 0.4") Last updated: 
                span(style="opacity: 0.7") 3/07/2022
block append scripts 
    script(src="/public/info/terms/terms.js") 