extends ./components/base.pug
block content 
    h1 welcome back
    p flipanim v2 is here. again.
    h2 what happened?
    p the original creator of flipanim v2 (#[a(href="https://www.pineapplerind.xyz") me]) didn't consent for the project to be shared at such an early stage.
    p since then, the project has been (very slowly) developed by me over the course of many months.
    p it's now public beta 2 and flipanim v2 has come a long way.
    p thank you for your patience.
    small ...just log in already.