extends ../components/base.pug
block content 
    h1 welcome to the homepage of fav2 
    p as you can see not much is here at the moment
    p but what you can do, is log in or create an account 
    p you'll be able to do things from there! 