html
    include /components/head
body
    include /components/nav
    main

        div.main
            .flex 
                div 
                div.flex 
                    div 
                    div 
                    div 
                    div 
                div 
            .flex
                div 
                .flex  
                div 
            .editor.flex
                aside 
                    div.flex(style="flex-wrap:wrap")
                        .tool-wrap 
                            .tool(style="background: url('../imgs/sprites.png') -19px -217px; width: 36px; height: 36px")
                        .tool-wrap 
                            .tool(style="background: url('../imgs/sprites.png') -69px -217px; width: 36px; height: 36px")
                        .tool-wrap 
                            .tool(style="background: url('../imgs/sprites.png') -19px -267px; width: 36px; height: 36px")
                        .tool-wrap 
                            .tool(style="background: url('../imgs/sprites.png') -21px -217px; width: 36px; height: 36px")
                    div.flex(style="flex-wrap:wrap")
                        .tool-wrap 
                            .tool(style="background: url('../imgs/sprites.png') -21px -217px; width: 36px; height: 36px")
                        .tool-wrap 
                            .tool(style="background: url('../imgs/sprites.png') -21px -217px; width: 36px; height: 36px")
                        .tool-wrap 
                            .tool(style="background: url('../imgs/sprites.png') -21px -217px; width: 36px; height: 36px")
                    div.flex(style="flex-wrap:wrap")
                        .tool-wrap 
                            .tool(style="background: url('../imgs/sprites.png') -21px -217px; width: 36px; height: 36px")
                        .tool-wrap 
                            .tool(style="background: url('../imgs/sprites.png') -21px -217px; width: 36px; height: 36px")
                        .tool-wrap 
                            .tool(style="background: url('../imgs/sprites.png') -21px -217px; width: 36px; height: 36px")
                    div.flex(style="flex-wrap:wrap")
                        .tool-wrap 
                            .tool(style="background: url('../imgs/sprites.png') -21px -217px; width: 36px; height: 36px")
                        .tool-wrap 
                            .tool(style="background: url('../imgs/sprites.png') -21px -217px; width: 36px; height: 36px")
                    div.flex(style="flex-wrap:wrap")
                        .tool-wrap 
                            .tool(style="background: url('../imgs/sprites.png') -21px -217px; width: 36px; height: 36px")
                        .tool-wrap 
                            .tool(style="background: url('../imgs/sprites.png') -21px -217px; width: 36px; height: 36px")
                        .tool-wrap 
                            .tool(style="background: url('../imgs/sprites.png') -21px -217px; width: 36px; height: 36px")
                .editor-active 
                    canvas
                aside 
            .editor-palette
    script(src="../index.js")
    script(src="editor.js")