footer.flex 
    div 
        p(style="opacity:0.7") Legals
        a(href="#") Privacy 
        a(href="#") Terms 
    div 
        p(style="opacity:0.7") Credits
        a(href="https://flipanim.com") Original Site
        a(href="#") FAV2 Team
    div 
        p(style="opacity:0.7") Contact 
        a(href="https://discord.gg/jF69TvPthh") Feedback 
        a(href="https://discord.gg/jF69TvPthh") Support