if loggedIn
    input#userID(type="text" value=loggedIn.name.id style="pointer-events: none; display: none")

nav
    div.flex
        img.linktitle(src="/public/imgs/flipanimv2.png" height="60px" style="vertical-align: bottom;margin-right:5px;" alt="FlipAnim")
        a.linktitle(onclick="window.location.href = '/'") Browse
        a.linktitle Search
        a.linktitle Followed
    if loggedIn
        div.profile
            img(src="/public/imgs/profile.png" onclick="document.querySelector('.profile-options').classList.toggle('open')")
    else 
        .login-buttons 
            button(onclick="window.location.href='/account/login'") Log in 
            button(onclick="window.location.href='/account/create'") Create account
if loggedIn
    div.profile-options
        p(disabled='', style='pointer-events:none;padding-bottom:3px;opacity:0.5;margin:5px;border-bottom: 1px solid rgba(255,255,255),0.5')
            | Logged in as @#{loggedIn.name.text}
            #profileLink.profile-option Profile
            #settings.profile-option Settings
            #logOut.profile-option Log out 