extends ../../components/base
block content
    .main.create
        h1 Search 
        p Searching for users is still being worked on / improved on. If you spot something that could be fixed or improve don't hesitate to let us know in the Discord Server (feedback link in the footer)
        select#searchType(onchange="window.searchType = this.value")
            option(value="users") Users
            option(disabled value="anims") Anims
            option(disabled value="comments") Comments
        br
        input#searchInput(type="text", placeholder="Search...")
        button#searchButton Search
    div#result
block scripts 
    script(src="/public/utils/toast.js")
    script(src="/public/index.js")
    script(src="/public/utils/modal.js")
    script(src="/public/search/index.js")