extends ../../components/base
mixin anim(src,text,author) 
    div.anim(onclick="window.location.href='"+id+"'")
        img(src=src)
        div.anim-text
            h1=text
            h2=author
block content
    #profile-main.main
        .profile-basic-info
            .profile-image.skeleton(style='background-image:url(/public/imgs/profile.png)')
            h1.profile-name.skeleton Loading
            p.profile-creation.skeleton Loading
            .flex
                .profile-follow.ers.skeleton Loading
                .profile-follow.ing.skeleton Loading
        .profile-status-info
            h2.profile-status-header Status
                #editStatus
            .text-box.profile-status.skeleton
                span.profile-status-type
            br
            h2 Bio
            .text-box.skeleton.profile-bio No bio
    br 
    hr
    h1 Anims
    .profile-anims

block scripts
    script(src="/public/utils/toast.js")
    script(src='/public/utils/modal.js')
    script(src='/public/index.js')
    script(src='/public/profile/profile.js')
