mixin anim(src,text,author) 
    div.anim(onclick="window.location.href='"+id+"'")
        img(src=src)
        div.anim-text
            h1=text
            h2=author
doctype html
include ../../components/head
include ../../components/nav
main
    #profile-main.main
        .profile-basic-info
            .profile-image.skeleton(style='background:url(/views/imgs/profile.png)')
            h1.profile-name.skeleton Loading
            p.profile-creation.skeleton Loading
            .flex
                .profile-follow.ers.skeleton Loading
                .profile-follow.ing.skeleton Loading
        .profile-status-info
            h2 Status
            .text-box.profile-status.skeleton
                span.profile-status-type
            br
            if (loggedIn.bio) 
                h2 Bio
                .text-box.skeleton.profile-bio No bio
    br 
    hr
    h1 Anims
    .profile-anims
include ../../components/foot
script.
    function ObjectId(id) { return id }
    var loggedIn = !{loggedIn}
    var userProfile
script(src='/public/index.bundle.js')
script(src='/public/profile/profile.js')
