doctype html
include ../../components/head
include ../../components/nav
main
  .main.anim-main
    h1.anim-title Loading
    .anim-image.skeleton
    br
    .anim-metadata.flex(style='justify-content: space-between; width: 100%; padding: 0 20px;')
      .anim-stats
        .anim-likes
          b 0
          |  likes
        .anim-views
          b 0
          |  views
      div
        span.anim-creation(style='opacity: 0.6')
        br
        span.anim-author.skeleton Loading
    hr
    h2
      | Comments 
      span.anim-comment-count
    .anim-comment-container
include ../../components/foot
script(src='../index.bundle.js')
script(src='anim.js')
