extends ../../components/base.pug
block content
    h1 this is where the browse page should be
    br
    p you're now logged in

block scripts
  script(src='/public/index.js')
  script(src='/public/utils/modal.js')