extends ../../components/base.pug
block content
  div.select-horizontal(name="animtype")
    option(value="popular") Popular
    option(value="new") New
    option(value="featured") Featured
  h1 Browse page
  p This page does not work. Don't try using it.
block scripts
  script(src='/public/index.js')
  script(src='/public/utils/modal.js')
  script(src="/public/browse/anims.js")