extends ../../components/base.pug
block content
  .main 
    h1 this is where the browse page should be
    p you're now logged in

block scripts
  script(src='/public/index.js')
  script(src='/public/utils/modal.js')
  script(src='anim.js')