extends ../../components/base
    link(rel="stylesheet" href="/public/css/toast.chunk.css")
    link(rel="stylesheet" href="/public/css/account.chunk.css")
    .account-box#create
    script(src="/public/account/create/createWizard.js")