extends ../../../components/base
block content
  .main.create
    h1 Create an Account
    small Already have an account? <a href="/account/login">Login</a>
    form.create#create(onsubmit="return false")
     br
    p(style="max-width: 300px;") Creating accounts is temporarily disabled until the terms of service and privacy policy are up
      //- input#username(type='text', name='username', placeholder='Username...')
      //- input#password(type='password', name='password', placeholder='Password...')
      //- .h-captcha(data-sitekey='aa5d6fa4-a22e-4f29-812f-09d146df8c43' data-callback="hcaptcha")
      //- script(src='https://js.hcaptcha.com/1/api.js')
      //- br
      //- input(type='submit', value='Submit')
block scripts
  script(src="/public/utils/toast.js")
  script(src='/public/index.js')
  script(src='/public/utils/modal.js')
  script(src='/public/account/create/index.js')
