extends ../../components/base
block append styles 
    link(rel="stylesheet" href="/public/css/toast.chunk.css")
    link(rel="stylesheet" href="/public/css/account.chunk.css")
block content
    .account-box#create
block append scripts 
    script(src="/public/account/create/createWizard.js")