extends ../../../components/base
block content
  .main.create
    h1 Create an Account
    #error(style='color: red;')
    form.create(action='/api/v1/users', method='POST')
      #username-container
        input#username(type='text', name='username', placeholder='Username...')
      input#password(type='password', name='password', placeholder='Password...')
      .h-captcha(data-sitekey='aa5d6fa4-a22e-4f29-812f-09d146df8c43')
      script(src='https://js.hcaptcha.com/1/api.js', async='', defer='')
      br
      input(type='submit', value='Submit')
block scripts
  script(src='/public/index.js')
  script(src='/public/utils/modal.js')
  script(src='/public/account/create/index.js')
