extends ../../components/base
block content
    .main.create
        - user = JSON.parse(user)
        h1 Settings for @#{user.name.text}
        br
        form#settingsForm(style="width:100%", onsubmit="return false;", method="post") 
            p This page is in alpha, please report bugs
            br
            p: b= 'Display Name' 
                input(type='text', name='displayName', id='displayName', placeholder='Display name...', value=user.name.display)
                div.char-count(limit='15', left="15")
                script.
                    (function(){
                        var displayName = document.getElementById('displayName');
                        var displayNameCount = document.getElementsByClassName('char-count')[0];
                        var displayNameLimit = displayNameCount.getAttribute('limit');
                        displayName.addEventListener('keyup', function() {
                            var displayNameLength = displayName.value.length;
                            displayNameCount.innerHTML = displayNameLimit - displayNameLength;
                            displayNameCount.setAttribute('left', displayNameLimit - displayNameLength);
                            if (displayNameLength > displayNameLimit) { displayName.value = displayName.value.substring(0, displayNameLimit); }
                        });
                    })();
            br
            p: b= "Bio"
                textarea(name='bio', id='bio', placeholder='Bio...', style='display: block' rows="5")= user.bio.replaceAll('<br>','\n')
                div.char-count(limit='120',left="120")
                script.
                    (function(){
                        var bio = document.getElementById('bio');
                        var bioCount = document.getElementsByClassName('char-count')[1];
                        var bioLimit = bioCount.getAttribute('limit');
                        var bioLength = bio.value.replaceAll('\n','<br>').length;
                        function upd() {
                            bioLength = bio.value.replaceAll('\n','<br>').length;
                            bioCount.innerHTML = bioLimit - bioLength;
                            bioCount.setAttribute('left', bioLimit - bioLength);
                        }
                        upd()
                        bio.addEventListener('keyup', function() {
                            upd()
                            if (bioLength > bioLimit) { bio.value = bio.value.substring(0, bioLimit); }
                        });
                    })()
            br
            p: b Status 
            p Change your status on the 
                a(href="/profile") profile page. 
            br
            p: b Theme
            div.flex
                input.theme-setting.dark(type="radio" name="theme" onclick="window.selectedTheme = 'dark'")
                input.theme-setting.classic(type="radio" name="theme" onclick="window.selectedTheme = 'classic'")
                input.theme-setting.light(type="radio" name="theme" onclick="window.selectedTheme = 'light'")
            br
            p Danger zone
            button#changePass(type="button") Change Password
            <div class="h-captcha" id="captcha" name="captcha" data-callback="hcaptchaCallback" data-sitekey='aa5d6fa4-a22e-4f29-812f-09d146df8c43'></div>
            .flex 
                button(style="width: 100%" onclick="window.history.go(-1)") Cancel
                input#subm(type='submit',value='Save')
    div.modal-container
block scripts
    script(src="/public/utils/toast.js")
    script(src='/public/utils/modal.js')
    script(src='/public/index.js')
    script(src="/public/settings/settings.js")