extends ../../../components/base
block content
    .main.create
        h1 Error 
        p You are already logged in as 
        b @#{loggedIn.name.text}

block scripts
    script(src='/public/utils/modal.js')
    script(src='/public/index.js')
