extends ../../../components/base
block content
  h1 FlipAnim v2 Team
  #teamMembers 
block scripts 
  script(src='/public/index.js')
  script(src='/public/utils/modal.js')
  script(src="/public/info/team/team.js")